.recipe {
    height: 250px;

    margin-bottom: 10px;

    background-color: rgb(124, 124, 124);
    border-radius: 15px;
    border: solid black 1px;

    display: flex;
}

.infoCol {
    flex: 50%;

    padding-left: 10px;
}

.ingCol {
    flex: 50%;

    margin: 10px 5px;

    overflow: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.ingCol::-webkit-scrollbar {
    display: none;
}

.deleteB {
    background: rgb(185, 55, 55);
    border: solid 1px black;
    border-radius: 6px;
    padding: 5px 10px;
}

.deleteB:active {
    background: rgb(243, 27, 27);
}

.descriptionArea {
    max-height: 95px;
    max-width: 240px;

    border: solid 1px rgb(184, 184, 184);
    background: rgb(216, 216, 216);
}

.descriptionArea:focus {
    outline: none !important;
}