.container {
    height: 80%;

    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 15px;

    background-color: rgb(124, 124, 124);
    border: solid black 1px;

    display: flex;
}

.inputColumn {
    display: flex;
    flex-flow: column;
    
    flex: 50%;

    padding-left: 10px;
    padding-right: 10px;
}

.allIngCol {
    flex: 50%;

    margin: 10px 5px;

    padding: 5px 10px;
    padding-top: 0;

    border-left: solid 1px black;

    overflow: auto;

    scroll-behavior: smooth;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.allIngCol::-webkit-scrollbar {
    display: none;
}

.addedIngCol {
    height: 200px;
    margin-bottom: 10px;

    overflow: auto;

    scroll-behavior: smooth;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.addedIngCol::-webkit-scrollbar {
    display: none;
}

.inputName {
    margin: 10px 0;
    font-size: 20px;
}

.ingHDiv {
    margin: 0;
    background: rgb(124, 124, 124);
    position: sticky;
    top: 0;

    padding-top: 10px;
    padding-bottom: 10px;
}

.ingH {
    margin: 0;
    text-align: center;

    border-bottom: solid 1px black;
    padding-bottom: 8px;
}

.addB {
    background: rgb(54, 173, 54);
    border: solid 1px black;
    border-radius: 6px;
    padding: 5px 10px;
}

.addB:active {
    background: rgb(45, 160, 45);
}

.descriptionAreaInput {
    height: 160px;
    max-height: 240px;

    width: 100%;

    resize: vertical;

    margin-right: 10px;

    border: solid 1px rgb(184, 184, 184);
    background: rgb(216, 216, 216);
}

.descriptionAreaInput:focus {
    outline: none !important;
}