.navBar {
    height: 45px;
    border-bottom: solid 2px black;

    background: rgb(150, 150, 150);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    flex: 0 1 auto;
}

.title {
    color: black;
    font-size: 25px;
    text-decoration: none;

    padding-bottom: 5px;
}

.addNew {
    position: absolute;
    right: 20px;

    transform: scale(1.5);
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}