body {
  height: 100vh;
  width: 100vw;

  background-color: rgb(63, 63, 63);

  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: 90vh;
  width: 40vw;
  max-height: 800px;
  max-width: 600px;
  min-width: 400px;

  border: solid 2px black;
  background-color: rgb(192, 192, 192);

  display: flex;
  flex-flow: column;
}