.ingredient {
    height: 40px;

    margin-bottom: 5px;

    background-color: rgb(214, 205, 71);
    border-radius: 10px;
    border: solid black 1px;

    display: flex;
}

.nameCol {
    flex: 70%;

    display: flex;
    align-items: center;

    padding-left: 10px;
}

.quantityCol {
    flex: 15%;

    display: flex;
    justify-content: right;
    align-items: center;
}

.unitCol {
    flex: 15%;

    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 5px;
}